.container { padding-top:40px;}
.rounded { width:100px}
#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
body{
    background-image: url("../img/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.table{
    color:white !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1300px !important;
}
.profile{
    background-color:rgb(100, 170, 250) !important;
    border-color: rgb(100, 170, 250) !important;
}
.edituser{
    background-color:rgb(250, 215, 100) !important;
    border-color: rgb(250, 215, 100) !important;
}

.deleteuser{
    background-color:rgb(250, 100, 100) !important;
    border-color: rgb(250, 100, 100) !important;
}
.btn-danger{
    background-color:rgb(250, 100, 100) !important;
    border-color: rgb(250, 100, 100) !important;
}
.btn-secondary{
    background-color:rgb(250, 100, 100) !important;
    border-color: rgb(250, 100, 100) !important;
}
.btn-primary{
    background-color: rgb(5, 141, 0) !important;
    border-color: rgb(5, 141, 0) !important;
}
.btn-success{
    background-color: rgb(5, 141, 0) !important;
    border-color: rgb(5, 141, 0) !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 250, 112, 0.26) !important;
}
.alert-primary {
    background-color: #ededff !important;
    border-color: #ededff !important;
    background-size: cover;
    height: 150px;
}
.alert-primary  p{
    text-align: center;
}
.page-link a{
    color: rgb(100, 170, 250) !important;
}
